<!DOCTYPE html>
<html>
  <head>
    <title>Page title</title>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
  </head>
  <body>
