<%- include('partials/header.ejs') %>

<h1>Add Customer</h1>

<% if(errors){ %>
<ul>
    <% errors.forEach(function(error){%>
        <li><%= error.msg %></li>
    <% })%>
</ul>

<% }%>
<form method="POST" action="/users/add">
    <label>First name</label><br>
    <input type="text" name="first_name"></input><br>
    <label>Last name</label><br>
    <input type="text" name="last_name"></input><br>
    <label>Email</label><br>
    <input type="text" name="email"></input><br>
    <input type="submit" value="Submit"></input>
</form>

<h1><%= title %></h1>


<ul>
<% users.forEach(function(user){%>
    <li><%= user.first_name%> <%= user.last_name %> - <a href="#" data-id="<%= user._id %>" class="deleteUser">Delete</a></li>
    <% })%>
</ul>
<%- include('partials/footer.ejs') %>

